<ion-content [fullscreen]="true">
  <swiper-container>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/super.jpg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="titulo">Endereço de Entrega</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subtitulo">Comece com seu pedido</ion-label><br>
            <ion-label class="subtitulo">digitando seu endereço</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/sombra.jpg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="titulo">Personalize sua Pizza</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subtitulo">Comece com seu pedido</ion-label><br>
            <ion-label class="subtitulo">digitando seu endereço</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/entregador.jpg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="titulo">Sua Pizza está a caminho</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="subtitulo">Comece com seu pedido</ion-label><br>
            <ion-label class="subtitulo">digitando seu endereço</ion-label>
            <ion-button class="comecar" expand="block" [routerLink]="['/login']">Vamos Começar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
  </swiper-container>
</ion-content>

